vendor/etc/camera/vidhance.lic
vendor/lib64/libsdk_sr.so
vendor/lib64/libsdk_sr_2.so
system_ext/priv-app/SettingsMoto/SettingsMoto.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Gmail2/Gmail2.apk
product/app/Photos/Photos.apk
product/app/Maps/Maps.apk
product/app/YouTube/YouTube.apk
product/app/GoogleHome/GoogleHome.apk
product/app/TFDashboard/TFDashboard.apk
product/app/Meet/Meet.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/VzwSecurityPrivacy-v7-8-5-17/VzwSecurityPrivacy-v7-8-5-17.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GlanceSpacesMotorola/GlanceSpacesMotorola.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/VzwMyVerizon-v21.0.8-503/VzwMyVerizon-v21.0.8-503.apk
product/priv-app/VelvetForCircleToSearch/VelvetForCircleToSearch.apk
product/priv-app/MotCamera5/MotCamera5.apk
fs_config_dirs
fs_config_files
